/node_modules
/uploads
.env
.env.vps
/public/img/scripts
/data/uploads/separador-ferias
/data/ferias-funcionario/FERIAS - TAXCO SERVIÇOS CONTABEIS S S
/data/ferias-funcionario
/data/atas_geradas
/data/atas_modelos
/data/excel-abas-pdf
/data/extrator-zip-rar
/api/__pycache__
/data
/.venv
/.venv
central-utils.zip
/go-api/work
/tmp/tareffa-empresas-lote
.backup
.env.example
docs.zip
~$CUMENTACAO_COMPLETA.docx
gerar_documentacao.py
DOCUMENTACAO_COMPLETA.docx
/backup integra python funcionando
site/
.env.local.example
.env.vps.example
Backup do env.zip
backup-env-0303.zip
